* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font: 13px Helvetica, Arial; 
}

form {
	background: #BBB;
	padding: 5px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}

form input { 
	border: 0; 
	padding: 10px; 
	width: 89%; 
	margin-right: .5%; 
}

form #button { 
	color: #FFF; 
	background: #D82B0E; 
	border: none; 
	padding: 10px;  
	width: 9%; 
}

#title {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #CCC; 
}

#notifyUser { 
	margin-left: 10px;
	color: grey;
}